.container 
  {
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;

  
  }


.contact_img {
    height:200px;
    width:100%;
    position: relative;
  }
  
  .contact_jumbo_text {
  
  position: absolute;
  margin-bottom: 50px;
  Font-Weight: Bold;
  Font-Size: 64px;
  Line-Height: 75px;
  Color: #ffffff;
  top: 150px;
  left: 75px;
  border: 2px solid red;
  }


  .where_we_work_section {
      display: flex;
      flex-direction: column;
  }








// footer

.footer_header {
    font-weight: regular;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    }
    
    .footer {
    display: flex;
    flex-direction: row;
    
    }
    
    .city {
    display:flex;
    flex-direction: column;
    }
    
    .footer_form {
    display: flex;
    flex-direction: column;
    width: 400px;
    }